@import "./components/navbar";
@import "./components/ticket";
@import "./components/button";
@import "./pages/dashboard";
@import "./pages/login";

*{
    box-sizing: border-box;
}

#body{
    height: 100vh;
    width: 100%;
    background-color: #ccc;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    & > div{
        width: 1200px;
    }
}

#hideField{
    visibility: hidden;
}

.archive{
    max-height: 500px;
}

.h1, h1{
    font-size: 24px !important;
    margin-bottom: 15px !important;
}

.h2, h2, .h3, h3{
    font-size: 14px !important ;
    margin: 0 !important;
    text-transform: uppercase;
}

.i, i{
    display: inline-block;
    margin: 5px !important;
}

.filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

table{
    width: 100%;
    margin-bottom: 15px;
    max-height: 400px;
    .action{
        text-align: right;
    }
}

.card{
    .card-header{
        background-color: #dee2e6;
    }
    
    &-footer > span{
        display: inline-block;
        margin: 0px 30px;
    }
}

.form{
    padding: 15px 0px;
}

.image-preview{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    img{
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
}

.form-button{
    margin: 30px 15px;
}
#order-form, #profile-form{
    legend{
        border-bottom: 1px solid #e6e1e1;
        margin-bottom: 15px;
    }
    .form-group{
        label{
            display: inline-block;
            width: 150px;
            text-align: right;
        }
        .form-control{
            display: inline-block;
            width: 70%;
        }
    } 
}

@media  screen and (max-width:900px) {
    body{
        display: none;
    }
}