#navbar{
    &-brand{
        min-width: 150px;
    }
    .nav-item{
        width: 120px;
        border-right: 1px solid #fff !important;
        text-align: center;
        font-weight: bolder;
    }
}